doctype html
html(lang="en")
  include includes/pug/main/_head.pug
  body
    include includes/pug/main/_header.pug
    main.main
      .wrapper
        section.section
          .row
            .coll
              img(src="img/img_1.jpg", alt="modal").show__modal.test
            .coll
              img(src="img/img_2.jpg", alt="modal").show__modal.test
            .coll
              img(src="img/img_1.jpg", alt="modal").show__modal.test
    include includes/pug/main/_footer.pug